body {
  font: 15px Montserrat, sans-serif;
  line-height: 1.8;
}

.navbar .navbar-collapse .nav > li > a {
  font: 16px Montserrat, sans-serif;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  color: #1abc9c;
}

.navbar .navbar-header .navbar-brand {
  color: #1abc9c;
}

.navbar .navbar-collapse .nav > li > a:hover {
  text-decoration: underline;
}

.navbar .navbar-collapse .nav > li > a.active {
  text-decoration: underline;
}

.panel-group {
  margin-left: 10px;
  padding-top: 5px;
}

.panel-body {
  text-align: justify;
}

/* .btn-txt {
  font-size: 1.25em;
} */

/* .work-exp {
  overflow: scroll; 
  height: 600px;
  border-bottom: solid 1px;
  border-bottom-color: #e7e7e7;
} */

.sect {
  padding-top: 10px;
}


footer {
  border-top: solid 1px #f8f8f8;
  text-align: center;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}